*, html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    font-size: 20px;
    width: 100%;
    top: 0;
    height: 10vh;
    padding: 15px;
    position: fixed;
    z-index: 9999;
}

.brand{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 15px;
    color: white;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.menu li{
    list-style-type: none;
    padding: 15px;
    
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.menu li a:hover{
    color: black;
    transition: all .3s ease-in-out;
}

.content1{
    padding-top: 10vh;
    z-index: 1;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.content1 .hello{
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 50px 70px 0 50px;
}
.text-animation{
    display: flex;
    flex-direction: row;
}


/* Text animation start */
.content1 .hello .text1{
    font-size: 65px;
    margin: 0 0 5px 0;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}
.content1 .hello .text2{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    flex-direction: row;
}
.text2 li{
    list-style: none;
    font-size: 50px;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide{
    100% {
        top: -360px;
    }
}
.text2 li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.text2 li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 80px;
    width: 100%;
    border-left: 2px solid black;
    background-color: white;
    animation: typing 3s steps(14) infinite;
}
@keyframes typing{
    40%, 60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}
/* Text animation end */



.content1 img{
    width: 250px;
    border-radius: 100%;
    padding: 100px 100px 100px 100px;
    margin-top: 40px;
}

.content1 .hello .icon a i{
    font-size: 30px;
    color: black;
    margin-right: 35px;
    margin-top: 35px;
    
}

.content1 .hello .icon a i:hover{
    color: darkgrey;
    transition: all .6s ease-in-out;
}


.about{
    margin: 200px 70px 0 50px;
}

.about h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'kadwa';
}

.content3{
    margin: 200px 70px 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.content3 h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.education{
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

.education .card1{
    background-color: rgb(192, 189, 189);
    width: 200px;
    height: 300px;
    border-radius: 30px;
   box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
-webkit-box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
}
.education .card2{
    background-color: rgb(192, 189, 189);
    width: 200px;
    height: 300px;
    border-radius: 30px;
   box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
-webkit-box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
}
.education .card3{
    background-color: rgb(192, 189, 189);
    width: 200px;
    height: 300px;
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
-webkit-box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.4);
}

.education .card1 img{
    width: 100px;
    margin: 30px 30px 0 50px;
}

.card2 img{
    width: 100px;
    margin: 35px 30px 0 50px;
    padding-bottom: 15px;
}

.card3 img{
    width: 100px;
    margin: 35px 30px 0 50px;
    padding-bottom: 10px;
}

.education .card1 p{
    margin: 0 0 0 30px;
    font-weight: 700;
}
.education .card2 p{
    margin: 0 15px 0 35px;
    font-weight: 700;
}
.education .card3 p{
    margin: 0 0 0 35px;
    font-weight: 700;
}

.education .card1 .kecil{
    font-size: 10px;
    margin-left: 75px;
    
}
.education .card2 .kecil{
    font-size: 10px;
    margin-left: 75px;
}
.education .card3 .kecil{
    font-size: 10px;
    margin-left: 75px;
}


.education .card1 .description{
    font-size: 10px;
    padding-right: 10px;
    font-weight: 500;
    margin-top: 10px;
}
.education .card2 .description{
    font-size: 10px;
    font-weight: 500;
    padding-right: 10px;
    margin-top: 10px;
}
.education .card3 .description{
    font-size: 10px;
    padding-right: 10px;
    font-weight: 500;
    margin-top: 10px;
}
